.testimonials-content-2{
  text-align: center;

  h1{
    margin: 0;
  }
  p{
    margin: 0;
    color: #2699FB;
    font-weight: 300;
    font-style: italic;
    font-size: 16px;
    margin-bottom: 200px;
  }

}