@import "~aos/dist/aos.css";
@import "~hover.css/css/hover-min.css";
//PAGES

//partials
@import 'partials/header';
@import 'partials/ontdek-avence';
@import 'partials/footer';


//home
@import 'pages/home/landing';
@import 'pages/home/elk-toestel';
@import 'pages/home/onze-diensten';
@import 'pages/home/recensies';

//aboutus
@import 'pages/about/about-landing';
@import 'pages/about/our-team';

//contact
@import 'pages/contact/contact';

//portfolio
@import 'pages/portfolio/portfolio';

//services
@import 'pages/services/services-landing';
@import 'pages/services/services-quality';
@import 'pages/client-bergwerff/client-bergwerff-landing';
//body

//klantenlogin
@import 'pages/klantenlogin/klantenlogin';


* body {
  overflow-x: hidden;
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
}

//paraggraphs

h1 {
  font-weight: 700;
  color: #535353;
  font-size: 32px;
  margin: 0;
  line-height: 43px;
}

p {
  color: #535353;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

//CONTAINER
@media (min-width: 1400px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}
@media (max-width: 1399px) {
  .container {
    margin: 0 auto;
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .container {
    margin: 0 auto;
    width: 90%;
  }
}

.button-blue {
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  border-radius: 5px;
  background: #68B7FA;
  color: white;
  border: 1px solid #2699FB;
  padding: 10px 50px;
  margin-right: 10px;
}

.hvr-shutter-out-horizontal:before{
  background: #2699FB;
}

.button-white {
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  border-radius: 5px;
  background: white;
  color: #535353;
  border: 1px solid #535353;
  padding: 10px 50px;
  margin-right: 10px;
}

