$black: #000;
$blue: #1E92E6;
$grey: #6F6F6F;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme';
//partials
@import './partials/header';
@import './partials/footer';
//pages
@import 'pages/home/home';
@import 'pages/home/home-recensies';
@import 'pages/home/home-responsive';
@import 'pages/home/home-afspraak-maken';
@import 'pages/home/home-contact';
@import 'pages/about/about';
@import 'pages/about/about-team';
@import 'pages/diensten/diensten';

* {
  font-family: "Open Sans", "Arial";
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  padding: 0;

}

.container {
  margin: 0 auto;
  width: 80%;
}

@media (min-width: 1400px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}

//PARAGRAPHS


.page-text-small{
  font-size: 15px;
  color: $grey;
  font-weight: 300;
}

.page-text-big{
  font-size: 18px;
  color: $grey;
  font-weight: 300;
}

//P-M

@media (max-width: 800px) {

  h1 {
    font-size: 32px;
    font-weight: 700;
    color: black;
    line-height: 32px;
  }

  h2{
    color: #000;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
  }

  p{
    font-weight: 200;
    font-size: 16px;
    color: $grey;
  }
}

@media (min-width: 800px) {

  h1 {
    font-size: 32px;
    font-weight: 700;
    color: black;
    line-height: 35px;
  }
  h2{
    color: #000;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
  }

  p{
    font-weight: 200;
    font-size: 14px;
    color: $grey;
  }
}


@media (min-width: 1000px) {

  h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 35px;
    color: black;
  }

  h2{
    color: #000;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
  }

  p{
    font-weight: 200;
    font-size: 16px;
    color: $grey;
  }
}


@media (min-width: 1200px) {

  h1 {
    font-size: 32px;
    font-weight: 700;
    color: black;
    line-height: 40px;
  }
  h2{
    color: #000;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
  }

  p{
    font-weight: 200;
    font-size: 18px;
    color: $grey;
  }
}


@media (min-width: 1400px) {

  h1 {
    font-size: 40px;
    font-weight: 700;
    color: black;
    line-height: 50px;
  }

  h2{
    color: #000;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
  }

  p{
    font-weight: 200;
    font-size: 18px;
    color: $grey;
  }
}




//BUTTONS


.button{
  color: black;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 40px;
  text-decoration: none;
  font-weight: 300;
}

.button:hover{
  background: black;
  transition: 0.6s;
  color: white;
}


.white{
  color: white;
border-color: white;
}

.white:hover{
  color: black;
  border-color: white;
  background: white;
  transition: 0.6s;
}

.blue{
  color: $blue;
  border-color: $blue;
}

.blue:hover{
  color: white;
  border-color: $blue;
  background: $blue;
  transition: 0.6s;
}











