@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);@charset "UTF-8";

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */

.slick-loading .slick-list {
  background: #fff url(/images/vendor/slick-carousel/slick/ajax-loader.gif?c5cd7f5300576ab4c88202b42f6ded62) center center no-repeat;
}

/* Icons */

@font-face {
  font-family: "slick";
  src: url(/fonts/vendor/slick-carousel/slick/slick.eot?ced611daf7709cc778da928fec876475);
  src: url(/fonts/vendor/slick-carousel/slick/slick.eot?ced611daf7709cc778da928fec876475) format("embedded-opentype"), url(/fonts/vendor/slick-carousel/slick/slick.woff?b7c9e1e479de3b53f1e4e30ebac2403a) format("woff"), url(/fonts/vendor/slick-carousel/slick/slick.ttf?d41f55a78e6f49a5512878df1737e58a) format("truetype"), url(/fonts/vendor/slick-carousel/slick/slick.svg?f97e3bbf73254b0112091d0192f17aec) format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "\2190";
}

[dir=rtl] .slick-prev:before {
  content: "\2192";
}

.slick-next {
  right: -25px;
}

[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "\2192";
}

[dir=rtl] .slick-next:before {
  content: "\2190";
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "\2022";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

@media (min-width: 950px) {
  header {
    box-shadow: 0px 6px 21px -4px rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 100%;
    background: white;
    height: 85px;
  }

  header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  header .container .avence-logo {
    margin: auto 0;
    width: 130px;
  }

  header .container .avence-logo svg {
    width: 100%;
  }

  header .container .avence-menu {
    width: 700px;
    margin: auto 0;
  }

  header .container .avence-menu ul {
    text-align: right;
  }

  header .container .avence-menu ul li {
    display: inline-block;
    margin-left: 10px;
  }

  header .container .avence-menu ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 300;
    padding: 5px 10px;
  }

  header .container .avence-menu ul li a:hover {
    color: #1E92E6;
    transition: 0.6s;
  }

  header .container .avence-menu ul .afspraak-maken-button {
    border: 2px solid #1E92E6;
    padding: 10px;
    border-radius: 5px;
    margin-left: 30px;
  }

  header .container .avence-menu ul .afspraak-maken-button a {
    padding: 10px 30px;
    color: #1E92E6;
    font-weight: 500;
  }

  header .container .avence-menu ul .afspraak-maken-button:hover {
    border: 2px solid #1E92E6;
    padding: 10px;
    background: #1E92E6;
    transition: 0.6s;
    border-radius: 5px;
  }

  header .container .avence-menu ul .afspraak-maken-button:hover a {
    padding: 10px 30px;
    color: white;
    font-weight: 500;
  }

  header .container .avence-menu ul .phone-menu {
    display: none;
  }
}

@media (max-width: 949px) {
  header {
    position: absolute;
    width: 100%;
    background: white;
    height: 85px;
  }

  header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  header .container .avence-logo {
    width: 400px;
    margin: auto 0;
  }

  header .container .avence-menu {
    width: 700px;
    margin: auto 0;
  }

  header .container .avence-menu ul {
    text-align: right;
  }

  header .container .avence-menu ul li {
    display: none;
  }

  header .container .avence-menu ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 300;
  }

  header .container .avence-menu ul .phone-menu {
    display: block;
  }
}

@media (min-width: 800px) {
  footer {
    padding: 100px 0 50px 0;
    width: 100%;
    background: white;
  }

  footer .footer-top {
    display: flex;
    width: 100%;
  }

  footer .footer-top h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
  }

  footer .footer-top p {
    color: #6F6F6F;
    font-weight: 300;
    font-size: 15px;
  }

  footer .footer-top .over-ons {
    width: 50%;
  }

  footer .footer-top .over-ons p {
    font-size: 12px;
    width: 75%;
  }

  footer .footer-top .support {
    width: 25%;
    margin-bottom: 50px;
  }

  footer .footer-top .support .support-content {
    display: flex;
    width: 100%;
  }

  footer .footer-top .support .support-content p {
    font-size: 12px;
  }

  footer .footer-top .support .support-content .pre-support {
    width: 23%;
  }

  footer .footer-top .support .support-content .pre-support p {
    font-weight: 500;
  }

  footer .footer-top .support .support-content .support-info {
    width: 77%;
  }

  footer .footer-top .support .support-content .support-info a {
    font-size: 12px;
  }

  footer .footer-top .support .support-content a {
    font-weight: 300;
    color: #6F6F6F;
    text-decoration: none;
  }

  footer .footer-top .support .support-content a:hover {
    color: #1E92E6;
    transition: 0.6s;
  }

  footer .footer-top .bekijk-ook {
    width: 25%;
  }

  footer .footer-top .bekijk-ook ul li {
    list-style: none;
    margin-bottom: 5px;
  }

  footer .footer-top .bekijk-ook ul li a {
    color: #6F6F6F;
    text-decoration: none;
    font-weight: 300;
    font-size: 12px;
  }

  footer .footer-top .bekijk-ook ul li a:hover {
    color: #1E92E6;
    transition: 0.6s;
  }

  footer .footer-bottom {
    padding: 30px 0 0 0;
    display: flex;
    width: 100%;
  }

  footer .footer-bottom p {
    color: #6F6F6F;
    font-weight: 300;
    font-size: 11px;
  }

  footer .footer-bottom a {
    color: #6F6F6F;
    font-weight: 300;
    font-size: 11px;
    text-decoration: none;
  }

  footer .footer-bottom a:hover {
    color: #1E92E6;
    transition: 0.6s;
  }
}

@media (min-width: 300px) {
  .landing {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/images/pages/home/landing-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .landing .landing-text {
    text-align: center;
  }

  .landing .landing-text h1 {
    text-align: center;
    color: white;
  }

  .landing .landing-text p {
    text-align: center;
    width: 70%;
    color: white;
    margin: 20px auto 50px auto;
  }

  .landing .landing-text .blue {
    margin-left: 15px;
    padding: 10px 45px;
  }
}

@media (max-width: 420px) {
  .landing {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/images/pages/home/landing-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .landing .landing-text {
    margin-top: 70px;
    text-align: center;
  }

  .landing .landing-text h1 {
    text-align: center;
  }

  .landing .landing-text p {
    text-align: center;
    width: 70%;
    margin: 20px auto 50px auto;
  }

  .landing .landing-text .blue {
    padding: 10px 45px;
    display: table;
    margin: 30px auto 0px auto;
  }
}

@media (min-width: 701px) {
  .landing {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/images/pages/home/landing-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .landing .landing-text {
    text-align: center;
  }

  .landing .landing-text h1 {
    text-align: center;
  }

  .landing .landing-text p {
    text-align: center;
    width: 70%;
    margin: 20px auto 50px auto;
  }

  .landing .landing-text .blue {
    margin-left: 15px;
    padding: 10px 45px;
  }
}

.testimonials {
  padding: 60px 0;
}

.testimonials .testimonials-content h1 {
  text-align: center;
  width: 40%;
  margin: 0 auto;
}

.testimonials .testimonials-content p {
  text-align: center;
  width: 60%;
  margin: 50px auto;
}

.testimonials .testimonials-content span {
  color: #1E92E6;
  font-size: 30px;
  font-weight: 300;
}

.testimonials .testimonials-content h6 {
  color: #707070;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
}

.testimonials .testimonials-content h5 {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .responsive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 0 30px 0;
  }

  .responsive .responsive-content {
    display: flex;
  }

  .responsive .responsive-content .responsive-text {
    width: 50%;
  }

  .responsive .responsive-content .responsive-text h1 {
    color: #000;
  }

  .responsive .responsive-content .responsive-text p {
    color: #000;
    margin: 30px 0 40px 0;
    width: 90%;
  }

  .responsive .responsive-content .responsive-text .blue {
    margin-left: 12px;
  }

  .responsive .responsive-content .responsive-image {
    width: 50%;
    margin-top: 50px;
  }

  .responsive .responsive-content .responsive-image img {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .responsive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 0 30px 0;
  }

  .responsive .responsive-content {
    display: block;
  }

  .responsive .responsive-content .responsive-text {
    text-align: center;
    width: 100%;
  }

  .responsive .responsive-content .responsive-text h1 {
    color: #000;
  }

  .responsive .responsive-content .responsive-text p {
    color: #000;
    margin: 30px 0 40px 0;
    width: 100%;
  }

  .responsive .responsive-content .responsive-text .blue {
    margin-left: 12px;
  }

  .responsive .responsive-content .responsive-image {
    width: 100%;
    text-align: center;
    margin-top: 100px;
  }

  .responsive .responsive-content .responsive-image img {
    width: 50%;
  }
}

@media (max-width: 420px) {
  .responsive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 0 30px 0;
  }

  .responsive .responsive-content {
    display: block;
  }

  .responsive .responsive-content .responsive-text {
    display: block;
    text-align: center;
    width: 100%;
  }

  .responsive .responsive-content .responsive-text h1 {
    color: #000;
  }

  .responsive .responsive-content .responsive-text p {
    color: #000;
    margin: 30px 0 40px 0;
    width: 100%;
  }

  .responsive .responsive-content .responsive-text .blue {
    padding: 10px 45px;
    display: table;
    margin: 30px auto 30px auto;
  }

  .responsive .responsive-content .responsive-image {
    width: 100%;
    text-align: center;
    margin-top: 100px;
  }

  .responsive .responsive-content .responsive-image img {
    width: 50%;
  }
}

.maak-afspraak {
  text-align: center;
  height: 35vh;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.maak-afspraak p {
  margin: 35px 0;
}

@media (min-width: 1000px) {
  .waarom-avence {
    background: #2D2D2D;
    height: 350px;
  }

  .waarom-avence .container {
    height: 100%;
  }

  .waarom-avence .container .waarom-avence-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }

  .waarom-avence .container .waarom-avence-content .wac-topic {
    width: 31%;
    margin: auto 0;
  }

  .waarom-avence .container .waarom-avence-content .wac-topic svg {
    width: 10%;
  }

  .waarom-avence .container .waarom-avence-content .wac-topic h2 {
    color: white;
    font-weight: 600;
    font-size: 24px;
    margin: 20px 0;
  }

  .waarom-avence .container .waarom-avence-content .wac-topic p {
    color: white;
    font-size: 14px;
    margin: 0;
  }
}

@media (max-width: 1000px) {
  .waarom-avence {
    background: #2D2D2D;
    height: 100%;
  }

  .waarom-avence .container {
    height: 100%;
  }

  .waarom-avence .container .waarom-avence-content {
    padding: 30px 0;
    text-align: center;
    display: block;
    height: 100%;
    width: 100%;
  }

  .waarom-avence .container .waarom-avence-content .wac-topic {
    width: 100%;
    margin-bottom: 50px;
  }

  .waarom-avence .container .waarom-avence-content .wac-topic svg {
    width: 25px;
  }

  .waarom-avence .container .waarom-avence-content .wac-topic h2 {
    color: white;
    font-weight: 600;
    font-size: 24px;
    margin: 10px 0;
  }

  .waarom-avence .container .waarom-avence-content .wac-topic p {
    color: white;
    font-size: 14px;
    margin: 0;
  }
}

* {
  font-family: "Open Sans", "Arial";
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 80%;
}

@media (min-width: 1400px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 32px;
    font-weight: 700;
    color: black;
    line-height: 32px;
  }

  p {
    font-weight: 200;
    font-size: 16px;
    color: black;
  }
}

@media (min-width: 800px) {
  h1 {
    font-size: 35px;
    font-weight: 700;
    color: black;
    line-height: 35px;
  }

  p {
    font-weight: 200;
    font-size: 14px;
    color: black;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
    color: black;
  }

  p {
    font-weight: 200;
    font-size: 16px;
    color: black;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 40px;
    font-weight: 700;
    color: black;
    line-height: 40px;
  }

  p {
    font-weight: 200;
    font-size: 18px;
    color: black;
  }
}

@media (min-width: 1400px) {
  h1 {
    font-size: 50px;
    font-weight: 700;
    color: black;
    line-height: 50px;
  }

  p {
    font-weight: 200;
    font-size: 18px;
    color: black;
  }
}

.button {
  color: black;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 40px;
  text-decoration: none;
  font-weight: 300;
}

.button:hover {
  background: black;
  transition: 0.6s;
  color: white;
}

.white {
  color: white;
  border-color: white;
}

.white:hover {
  color: black;
  border-color: white;
  background: white;
  transition: 0.6s;
}

.blue {
  color: #1E92E6;
  border-color: #1E92E6;
}

.blue:hover {
  color: white;
  border-color: #1E92E6;
  background: #1E92E6;
  transition: 0.6s;
}

