@media (max-width: 800px) {

  .testimonials {
    padding: 60px 0;
    .testimonials-content {
      h1 {
        text-align: center;
        width: 100%;
        margin: 0 auto;
      }

      p {
        text-align: center;
        width: 100%;
        margin: 50px auto;
      }

      span {
        color: $blue;
        font-weight: 300;
      }

      h6 {
        color: #707070;
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        margin: 0 auto;
      }

      h5 {
        color: $black;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin: 0 auto;
      }

    }
  }
}

@media (min-width: 800px) {

  .testimonials {
    padding: 60px 0;
    .testimonials-content {
      h1 {
        text-align: center;
        width: 40%;
        margin: 0 auto;
      }

      p {
        text-align: center;
        width: 60%;
        margin: 50px auto;
      }

      span {
        color: $blue;
        font-size: 30px;
        font-weight: 300;
      }

      h6 {
        color: #707070;
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        margin: 0 auto;
      }

      h5 {
        color: $black;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin: 0 auto;
      }

    }
  }
}