


@media (min-width: 300px) {

  .landing {

    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/images/pages/home/landing-bg.jpg");
    background-size: cover;
    background-position: center;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .landing-text {

      text-align: center;

      h1 {
        text-align: center;
        color: white;
      }

      p {
        text-align: center;
        width: 70%;
        color: white;

        margin: 20px auto 50px auto;
      }

      .blue {
        margin-left: 15px;
        padding: 10px 45px;
      }
    }
  }
}


@media (max-width: 420px) {

  .landing {

    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/images/pages/home/landing-bg.jpg");
    background-size: cover;
    background-position: center;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .landing-text {

      margin-top: 70px;
      text-align: center;

      h1 {
        text-align: center;
      }

      p {
        text-align: center;
        width: 70%;

        margin: 20px auto 50px auto;
      }

      .blue {
        padding: 10px 45px;
        display: table;
        margin: 30px auto 0px auto;
      }
    }
  }
}


@media (min-width: 701px) {

  .landing {

    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/images/pages/home/landing-bg.jpg");
    background-size: cover;
    background-position: center;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .landing-text {

      text-align: center;

      h1 {
        text-align: center;
      }

      p {
        text-align: center;
        width: 70%;

        margin: 20px auto 50px auto;
      }

      .blue {
        margin-left: 15px;
        padding: 10px 45px;
      }
    }
  }
}

