.offered-servives {

  .offered-servives-content {
    display: flex;
    margin: 100px auto;
    width: 90%;
    justify-content: space-between;

    .services-product {
      width: 30%;

      svg {
        width: 30px;
        height: 30px;
        color: $grey;
      }

      h2 {
        margin: 15px 0 0 0;
        padding: 0;
      }

      p {
        margin: 10px 0 15px 0;
        width: 90%;
        font-size: 15px;
      }

      a {
        color: $blue;
        font-weight: 300;
      }

    }
  }
}