@media (min-width: 950px) {

  header {

    -webkit-box-shadow: 0px 6px 21px -4px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 6px 21px -4px rgba(0, 0, 0, 0.20);
    box-shadow: 0px 6px 21px -4px rgba(0, 0, 0, 0.20);

    position: absolute;
    width: 100%;
    background: white;
    height: 85px;

    .container {
      height: 100%;
      display: flex;
      justify-content: space-between;

      .avence-logo {
        margin: auto 0;
        width: 130px;
        svg {
          width: 100%;
        }
      }

      .avence-menu {
        width: 700px;
        margin: auto 0;

        ul {
          text-align: right;
          li {
            display: inline-block;
            margin-left: 10px;

            a {
              text-decoration: none;
              color: $black;
              font-size: 14px;
              font-weight: 300;
              padding: 5px 10px;
            }

            a:hover {
              color: $blue;
              transition: 0.6s;
            }

          }

          .afspraak-maken-button {
            border: 2px solid $blue;
            padding: 10px;
            border-radius: 5px;
            margin-left: 30px;
            a {
              padding: 10px 30px;
              color: $blue;
              font-weight: 500;
            }
          }

          .afspraak-maken-button:hover {
            border: 2px solid $blue;
            padding: 10px;
            background: $blue;
            transition: 0.6s;
            border-radius: 5px;
            a {
              padding: 10px 30px;
              color: white;
              font-weight: 500;
            }
          }

          .phone-menu {
            display: none;
          }

        }

      }

    }
  }
}

@media (max-width: 949px) {

  header {
    position: absolute;
    width: 100%;
    background: white;
    height: 85px;

    .container {
      height: 100%;
      display: flex;
      justify-content: space-between;

      .avence-logo {
        width: 400px;
        margin: auto 0;

        svg {
        }
      }

      .avence-menu {
        width: 700px;
        margin: auto 0;

        ul {
          text-align: right;
          li {
            display: none;

            a {
              text-decoration: none;
              color: $black;
              font-size: 14px;
              font-weight: 300;
            }

          }
          .phone-menu {
            display: block;
          }

        }

      }

    }
  }

}

