@media (min-width: 1200px) {
  header {
    position: absolute;
    height: 70px;
    width: 100%;
    background: white;

    .container {
      height: 100%;

      .header-content {
        height: 100%;
        display: flex;
        width: 100%;
        padding-top: 7px;

        .header-logo {
          padding-top: 11px;
          width: 20%;

          img {
            width: 136px;
          }
        }

        .header-menu {
          text-align: right;
          width: 80%;

          ul {
            padding: 0;
            display: inline-flex;

            li {
              list-style: none;
              margin-left: 20px;

              a {
                display: inline-block;
                color: #535353;
                text-decoration: none;
                font-weight: 300;
                font-size: 12px;
              }

              .button-blue {
                color: white;
                margin-top: -7px;
                margin-left: 30px;
              }

              .button-white {
                margin-top: -7px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  header {
    position: absolute;
    height: 70px;
    width: 100%;
    background: white;

    .container {
      height: 100%;

      .header-content {
        height: 100%;
        display: flex;
        width: 100%;
        padding-top: 7px;

        .header-logo {
          padding-top: 11px;
          width: 20%;

          img {
            width: 136px;
          }
        }

        .header-menu {
          text-align: right;
          width: 80%;

          ul {
            padding: 0;
            display: inline-flex;

            li {
              list-style: none;
              margin-left: 20px;

              a {
                display: inline-block;
                color: #535353;
                text-decoration: none;
                font-weight: 300;
                font-size: 12px;
              }

              .button-blue {
                color: white;
                margin-top: -7px;
                margin-left: 30px;
              }

              .button-white {
                margin-top: -7px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1065px) {
  header {
    position: absolute;
    height: 70px;
    width: 100%;
    background: white;

    .container {
      height: 100%;

      .header-content {
        height: 100%;
        display: flex;
        width: 100%;
        padding-top: 7px;

        .header-logo {
          padding-top: 11px;
          width: 20%;

          img {
            width: 136px;
          }
        }

        .header-menu {
          text-align: right;
          width: 80%;

          ul {
            padding: 0;
            display: inline-flex;

            li {
              list-style: none;
              margin-left: 20px;

              a {
                display: inline-block;
                color: #535353;
                text-decoration: none;
                font-weight: 300;
                font-size: 12px;
              }

              .button-blue {
                color: white;
                margin-top: -7px;
                margin-left: 30px;
              }

              .button-white {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 850px) {
  header {
    position: absolute;
    height: 70px;
    width: 100%;
    background: white;

    .container {
      height: 100%;

      .header-content {
        height: 100%;
        display: flex;
        width: 100%;
        padding-top: 7px;

        .header-logo {
          padding-top: 11px;
          width: 20%;

          img {
            width: 136px;
          }
        }

        .header-menu {
          text-align: right;
          width: 80%;

          ul {
            padding: 0;
            display: inline-flex;

            li {
              list-style: none;
              margin-left: 20px;

              a {
                display: inline-block;
                color: #535353;
                text-decoration: none;
                font-weight: 300;
                font-size: 12px;
              }

              .button-blue {
                display: none;
              }

              .button-white {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}