.servives {

  .services-header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 70vh;

    background: linear-gradient(rgba(0, 102, 177, 0.8), rgba(0, 102, 177, 0.8)), url("/images/pages/diensten/headerbg.png");
    background-size: cover;
    background-position: center;

    text-align: center;

    h1 {
      color: white;
      padding-top: 80px;
      margin-bottom: 10px;
    }

    p {
      color: white;
      width: 65%;
      margin: 0 auto;
    }

  }

  .offered-servives {

    .offered-servives-content {
      display: flex;
      margin: 100px auto;
      width: 90%;
      justify-content: space-between;

      .services-product {
        width: 30%;

        svg {
          width: 30px;
          height: 30px;
          color: $grey;
        }

        h2 {
          margin: 15px 0 0 0;
          padding: 0;
        }

        p {
          margin: 10px 0 15px 0;
          width: 90%;
          font-size: 15px;
        }

        a {
          color: $blue;
          font-weight: 300;
        }

      }
    }
  }

  .contact-ons {
    height: 175px;
    background: #343434;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .text-container {

      width: 90%;
      margin: 0 auto;

      .ontdek-ons {
        display: flex;
        justify-content: space-between;

        .ontdenk-ons-text {

          h3 {
            font-size: 26px;
            color: white;
            font-weight: 600;
          }

          p {
            font-size: 14px;
            color: $grey;
            font-weight: 300;
          }

        }

        .ontdenk-ons-button {
          margin-top: 17px;
        }
      }
    }
  }
}